doctype html
html
  head
    title FCC: Timestamp Microservice
    link(rel='icon', href='/favicon-32x32.png', type='image/png')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto', type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
  body
    block content
